.container{
  width: 800px;
  height: 550px;
  border-radius: 18px;
  background: var(--chart2);
  box-shadow: 2px 9px 22px -4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 2px 9px 22px -4px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 18% auto 25%;
}