@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,800;0,900;1,700&family=Quicksand:wght@500;700&display=swap');

:root{
  --col1: #FFF7F2;
  --col2: #FFF1E9;
  --col3: #FEEADE;
  --text-light: #9C9794;
  --text-hover: #696563;
  --text-highlight: #93C4B7;
  --chart1: #F36719;
  --chart2: #3559DD;
  --chart3: #23C6D4;
}

*{
  font-family: 'Mulish', sans-serif;
}
body{
  background: #f6f6f6;
  display: grid;
  place-items: center;
  height: 100vh;
}

::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}